<h1>Modifie ton événement</h1>

<%= form_with model: @event, local: true do |form| %>

  <p>
    <%= form.label :Date %><br>
    <%= form.date_field :date %>
  </p>

  <p>
    <%= form.label :Description %><br>
    <%= form.text_field :description %>
  </p>

  <p>
    <%= form.label :Place %><br>
    <%= form.text_field :place %>
  </p>

  <p>
    <%= form.submit title="Editer"%>
  </p>

<% end %>

<%= link_to 'Retour', events_path %>



