<h1>Caractéristiques de l'événement</h1>

<p class="show-text">Id :</p>
<p><%= @event.id %></p>

<p class="show-text">Date :</p>
<p><%= @event.date %></p>

<p class="show-text">Description :</p>
<p><%= @event.description %></p>

<p class="show-text">Place :</p>
<p><%= @event.place %></p>

<p class="show-text">Créateur :</p>
<p><%= @event.creator.name %></p>




<div><%= link_to"Retour",events_path %></div>


